body{
    background-color: #FFCB1F; font-family: Verdana, Geneva, Tahoma, sans-serif ; font-size: 150%;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:weight;
    font-style:normal;
}
.cabecalho{
    padding: 3%;
}
.rodape{
    padding: 3%;
}
.titulos{
    line-height: 3;
    text-align: center;
    font-weight: bold;
}
h1{
    font-size: 2.5em;
}
h2{
    font-size: 1.5em;
}
p{
    line-height: 1.5;
    font-size: 1.2em;
    padding-left: 15px;
    padding-right: 15px;
}
ul li{
    line-height: 1.5;
    font-size: 1.2em;
    padding-left: 15px;
    padding-right: 15px;
}

.divlogo{
    background-color: #FFCB1F;
}

.logo{
    width: 150px;
}
nav{
    background-color: #FFCB1F;
    text-align: center;
}
main{
    background-color: rgb(146, 208, 80);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
    color: #00579D;
}

a:hover{
    color: #117742;
    font-size: 1.3em;
    cursor: pointer;
}

section{
    background-color: rgb(255, 255, 255);
}
header{

    background-color: #00579D;
}
footer{
    background-color: #00579D;
}
img{
    display: block; margin-left: auto ; margin-right: auto; width: 100%;
}
.gif{
    display: block; padding-top: 25px; padding-bottom: 15px; width: 40%;
}
table{
    border-collapse: collapse;
    width: 100%;
    border: left 1px;
    padding-bottom: 20px;
}
td, th{
    border: 1px solid #dddddd;
    text-align:center;
    padding: 8px;
}
tr:nth-child(even){
    background-color: #dddddd;
}
.linha{
    display: flex;
    flex-flow: row wrap;
    margin-left: 5;
    margin-right: 5; 
}
.col2{
    width: 15%;
}
.imggaleria{
    width: 95%;
    margin-top: 20%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 15%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: calc(50% - 20px); 
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .card {
        width: calc(100% - 20px);
    }
}
